[submodule "docker/external/sympl"]
	path = docker/external/sympl
	url = git@github.com:stubbiali/sympl.git
	branch = ubbiali
[submodule "docker/external/gt4py"]
	path = docker/external/gt4py
	url = git@github.com:GridTools/gt4py.git
	branch = dev
[submodule "docker/external/xarray"]
	path = docker/external/xarray
	url = https://github.com/pydata/xarray.git
	branch = master
