[submodule "docker/external/sympl"]
	path = docker/external/sympl
	url = git@github.com:stubbiali/sympl.git
	branch = oop
[submodule "docker/external/gt4py"]
	path = docker/external/gt4py
	url = git@github.com:GridTools/gt4py.git
	branch = master
[submodule "docker/external/xarray"]
	path = docker/external/xarray
	url = https://github.com/pydata/xarray.git
[submodule "docker/external/dawn"]
	path = docker/external/dawn
	url = https://github.com/MeteoSwiss-APN/dawn.git
