# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# c extensions
*.so

# sphinx documentation
docs/build/

# ipython notebook
Interactive.ipynb
.ipynb_checkpoints

# temporary files
*.pyc
*.swp

# pycharm
projectFilesBackup/
.idea/

# tests
result_images/
.coverage
.hypothesis/
.pytest_cache/

# gt4py
.gt_cache/
.dace.conf

# mypy
.mypy_cache

# packaging
build/
dist/
pip-wheel-metadata/
*.egg-info/
.eggs/

# venv
venv*/

# archives
*.tar

# mac
.DS_Store/

# varia
docker/xz-0.5.4
