[run]
omit =
    ../tasmania/python/domain/grids/*
    ../tasmania/python/domain/topographies/user_defined.py
    ../tasmania/python/framework/offline_diagnostics.py
    ../tasmania/python/framework/tendency_steppers/rk3.py
